<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda consectetur cupiditate debitis delectus
        doloremque excepturi hic, illo ipsam non perferendis perspiciatis provident reiciendis rem repellendus soluta
        temporibus ullam unde.
      </div>
      <div>Architecto assumenda ducimus fuga fugiat inventore molestiae obcaecati perferendis quam sapiente veniam?
        Aliquid animi assumenda aut dicta eligendi fugit ipsa iusto magni molestias praesentium similique, suscipit
        temporibus ullam velit vitae.
      </div>
    </div>
  </div>
</div>